.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(32, 32, 32);
}

.textSection {
  max-width: 400px;
  text-align: left;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #fff;
}

.name{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.socialIcons img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.downloadBtn {
  background-color: rgb(148,44,202);  
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.downloadBtn:hover {
  background-color: rgb(148,44,202);
  transform: translateY(-2px);
}

.buttonContainer{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  font-size: 70px;
  font-weight: bold;
  color: #fff; 
  text-shadow: 
    0 5px 5px rgb(148,44,202);
}

.imageSection{

  margin-left:5rem;
  margin-bottom:5rem;
}