.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height:100vh;

}

.portraitContainer{
  display: flex;
  align-items: flex-end;
}


.image:hover{
  transition: opacity 0.4s ease-in-out;
}



.title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height:1.1;
  margin-bottom: 1rem;
  text-align: left;
  display: inline-block; 
}

.titleLineContainer{
  display: flex;
  width:100%;
  align-items: center;
  gap:1rem;
}

.line{
  font-size: 1.5rem;
  font-weight: 700;
  line-height:1.1;
  margin-bottom: 1rem;
  text-align: left;
  color:#666;
}


.name{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: left;
  color:#666;
  white-space: nowrap;
}

.rotateText{
  font-size: 4.5rem;
  color:white;
}

.rotateTextContainer{
  display: inline-block;
  background-color: rgb(148,44,202); 
  padding: 0.15rem 0.5rem;  
  border-radius: 0.25rem;   
}


.subtitle {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.socialIcons img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.downloadBtn {
  background-color: rgb(148,44,202);  
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
  z-index:50;
}

.downloadBtn:hover {
  background-color: rgb(148,44,202);
  transform: translateY(-2px);
}

.buttonContainer{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem;
    height: auto;
    gap: 2rem;
  }

  .portraitContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

  .image {
    max-width: 100%;
    height: auto;
  }

  .name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .rotateText {
    font-size: 2.2rem;
    text-align: center;
  }

  .rotateTextContainer {
    text-align: center;
    margin-top: 0.5rem;
  }

  .titleLineContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  .line {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .buttonContainer {
    text-align: center;
    margin-top: 1rem;
  }

  .downloadBtn {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .socialIcons {
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem 0;
  }

  .socialIcons img {
    width: 28px;
    height: 28px;
  }

}
